In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv("Dataset_of_Diabetes.csv")
df.head(15)
#df.isna().sum()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
5,634,34224,F,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,N
6,721,34225,F,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,N
7,421,34227,M,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
8,670,34229,M,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,N
9,759,34230,F,32,3.6,28,4.0,3.8,2.0,2.4,3.8,1.0,24.0,N
10,636,34231,F,31,4.4,55,4.2,3.6,0.7,1.7,1.6,0.3,23.0,N
11,788,34232,F,33,3.3,53,4.0,4.0,1.1,0.9,2.7,1.0,21.0,N
12,82,46815,F,30,3.0,42,4.1,4.9,1.3,1.2,3.2,0.5,22.0,N
13,132,34234,F,45,4.6,54,5.1,4.2,1.7,1.2,2.2,0.8,23.0,N
14,402,34235,F,50,3.5,39,4.0,4.0,1.5,1.2,2.2,0.7,24.0,N

In [28]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['ID', 'No_Pation', 'CLASS'])
y = df['CLASS']

testsize = 0.2  

# Hold-Out Strategy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=testsize)
print (X_train,y_train )

    Gender  AGE  Urea   Cr  HbA1c  Chol   TG   HDL   LDL  VLDL   BMI
682      F   54   8.7  120    8.1   4.0  1.8  1.70  1.80   1.5  31.0
567      F   64   5.3   48    7.3   3.5  1.4  1.10  1.70   0.6  31.0
722      F   54   2.8   22   14.6   4.0  1.0  1.80  1.30   1.5  33.0
724      M   54   5.4   68    3.0   1.2  0.7  1.00  0.50   1.5  33.0
60       F   48   2.8   55    5.0   3.6  0.6  2.10  1.20   0.2  23.5
..     ...  ...   ...  ...    ...   ...  ...   ...   ...   ...   ...
469      M   55   5.5   72    8.9   5.3  3.3  0.95  3.10   1.5  30.0
311      F   56   5.5   48    9.3   5.8  2.4  0.90  3.90   1.1  30.0
911      M   56   5.0   61    9.2   4.6  1.0  1.50  1.45   0.7  30.0
571      F   53   4.7   53    8.6   6.2  1.7  1.10  4.30   0.8  30.0
464      M   54   4.7   78    7.3   3.6  1.7  0.80  2.10   0.7  29.0

[800 rows x 11 columns] 682    Y
567    Y
722    Y
724    Y
60     N
      ..
469    Y
311    Y
911    Y
571    Y
464    Y
Name: CLASS, Length: 800, dtype: object